.ufbitcoin {
  display: flex;
  justify-content: center;
  margin-top: 125px;
}

.btn-info {
  margin-top: 100px !important;
  margin-bottom: 120px !important;
  background-color: orange !important;
  border-color: white !important;
  width:200px;
}

.signup {
  height:600px;
}

.input-group{
  margin-top: 50px;
}

.copy {
  padding-top: 50px;
  height:600px;
}

.navbar {
  background-color:#fff !important;
}

.container {
  margin-left: 0px !important;
}

.nav li a {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
