
/*@font-face {
  font-family: 'metropolis';
  src: url("./public/fonts/Metropolis-Medium.otf");
}*/

#home {
  background-color:#0D1017;
  padding-bottom: 120px !important;
}

#about{
  background-color: #121521;
}

#leadership{
  background-color: #1D2233;
}

#events{
  background-color: #2B324A;
}

#contact {
  background-color: #BCEDF6;
}

h1 {
  font-family: Aldrich;
}

#land{
background-image: url('/images/background.png');
background-size: 100vw;
}

.ufbitcoin {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

p{
  padding: 0px
}

li a{
  font-family: Aldrich;
  font-size: 18px;
  color: white;
}

li a:hover{
  background-color: transparent !important;
  color:#FFA90A !important;
}

.ufcoin img{
  max-width: 40px;
  max-height: 40px;
}

.ufbitcoin {
  display: flex;
  justify-content: center;
  padding-top:120px;
  margin-top: 0px;
}

.title {
  color:#fff;
  font-size: 90px;
  font-family: Aldrich;
}

h2.text-center {
  font:120px;
  margin: 0px !important;
  padding-top: 90px;
  color:#fff;
  font-size: 50px;
}

.copy {
  padding: 50px 20px;
  text-align:center;
}

.btn-info {
  margin-top: 60px !important;
  background-color: orange !important;
  border-color: #B56C0C !important;
  width:200px;

}

.btn-info:hover{
  background-color: #D18B09 !important;
  color: #E7E7E7 !important;
}


.signup {
  height:600px;
  font-family: Aldrich;
}

.input-group{
  margin-top: 50px;
}

.section {
  padding-top: 0px;
  height:100vh;
  font-family: Aldrich;
  color: white;
}

.leadSection{
  height: 100%;
}

.navbar {
  background-color: transparent !important;
  border: 0px !important;
  background-color: transparent !important;
  border:0 !important;
}

.nav-pills {
      margin-top: 7px;
}

.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.nav li a {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

#aboutIcons{
  display:flex;
  justify-content: space-between;
  margin-top:50px;
}

.aboutpics {
  text-align: center;
  max-height: 170px;
  max-width: 190px;
}

.lead {
  max-width:100% ;
  display:flex;
  justify-content: space-between;
}

.row.lead{
  margin-top: 40px;
  margin-bottom: 20px
}

/*.headshot{
  max-height: 150px;
  max-width:150px;
}*/

.hideme {
    opacity:0;
}

.bounce {
  position: absolute;
  text-align: center;
  left:50%;
  bottom:0;
  background:;
  left:50%;
  margin-top:-25px;
    margin-left:-25px;
    width:50px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}
